[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/bundle/tritiumscript"]
	path = vim/bundle/tritiumscript
	url = git@github.com:tdesikan/vim-tritium.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nginx"]
	path = vim/bundle/nginx
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "vim/bundle/varnish"]
	path = vim/bundle/varnish
	url = https://github.com/empanda/vim-varnish.git
